<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= questionNum %></title>
</head>
<body>
    <div class="container">
        <div id="question">
            <h4>Question</h4>
            <pre>
<%= question %>
            </pre>
        </div>

        <div id="answer">
            <h4>Answer</h4>
            <p>
                <input type="button" value="Reveal answer" id="reveal-answer">
            </p>
            <div id="answer-text">
                <pre>
<%= answer %>
                </pre>

                <p>
                    <input type="button" value="Correct" id="correct">
                    <input type="button" value="Incorrect" id="incorrect">
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/fastquery.js"></script>
    <script type="text/javascript" src="/js/<%= jsFile %>"></script>
</body>
</html>